{% extends 'base.html' %}


{% load static %}


{% block content %}



<!-- login form section start     -->

<div class="form-container">
    

    <div class="form-row">
        <h1>Login Here</h1>
        {% include 'includes/messages.html' %}
        
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder=" enter username" class="box">
    
            <input type="password" name="password" placeholder=" enter Passwor" class="box">
            <button type="submit" name="submit" id="btn">Login</button>
        </form>
        <div class="other">
            <a href="{% url 'register' %}">Register</a>
            <a href="">reset Password</a>
        </div>
    </div>
</div>


<!-- login form section ends     -->

{% endblock %}